@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4 mb-4">Bem-vindo ao Sistema de Cadastro</h1>
            <p class="lead">O Sistema de Cadastro é uma aplicação simples para gerenciar informações de clientes.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center">
            <h2>Gerenciar Clientes</h2>
            <p>Acesse a página de gerenciamento de clientes para adicionar, visualizar, atualizar e excluir informações dos clientes.</p>
            <a href="/Clients" class="btn btn-primary">Gerenciar Clientes</a>
        </div>
    </div>
</div>
